[Unit]
Description=Magen main server
After=network-online.target mosquitto.service
Wants=network-online.target

[Service]
Type=simple
User=user1
WorkingDirectory=/home/user1/project-magen
Environment=PATH=/home/user1/project-magen/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/user1/project-magen/.venv/bin/python /home/user1/project-magen/main-server/run_main_server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
