<!DOCTYPE html>
<html>
<head>
    <title>Log Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/design.css?v=20260427d">
</head>
<body class="log_page">
    <div class="navbar">
        <a href="/Home_page.html">Home</a>
        <a href="/log.html">Log</a>
        <a href="/chat.html">Chat</a>
        <a href="/video.html">Video</a>
        <a href="/sensors.html">Sensors</a>
    </div>
    <div class="table-wrap">
        <table id="logTable" class="table1" border="1">
            <tr>
                <th>#</th>
                <th>When</th>
                <th>Area</th>
                <th>What happened</th>
            </tr>
        </table>
    </div>
    <script src="/static/js/alarm_notifications.js?v=20260527a"></script>
    <script src="/static/js/log.js?v=20260427d"></script>
</body>
</html>
